{% extends 'base.html' %}
{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
<div>
    <h1>{{ room.name }}</h1>
    <h3>{{ room.description }}</h3>
</div>
<div>
    <h2>
        By: {{ room.host.username }}
        {% if room.host.superhost %}
            (superhost)
        {% endif %}
    </h2>
    <h3>Amenities</h3>
    {% for a in room.amenities.all %}
      <li>{{a}}</li>
    {% endfor %}

    <h3>Facilities</h3>
    {% for a in room.facilities.all %}
      <li>{{a}}</li>
    {% endfor %}

    <h3>House Rule</h3>
    {% for a in room.houserule.all %}
      <li>{{a}}</li>
    {% endfor %}
</div>
{% endblock %}