{% extends 'base.html' %}
{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    {{ now }}
    {% for room in rooms %}
<!--        <p><a href="/rooms/{{room.pk}}">{{ room.name }} / ${{ room.price }}</a></p>-->
            <p><a href="{% url 'rooms:detail' room.pk %}">{{ room.name }} / ${{ room.price }}</a></p>
    {% endfor %}
    <h5>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}

<!--        {% for page in rooms.paginator.page_range %}-->
<!--            {{page}}-->
<!--        {% endfor %}-->

    </h5>

<!--    {% for page in page_range %}-->
<!--        <a href="?page={{page}}">{{page}}</a>-->
<!--    {% endfor %}-->
{% endblock content %}